
spring:
    application :
        name: apigateway-service
    cloud:
        gateway:
          routes:
          - id: registerservice
            uri: http://localhost:8081/
            predicates:
              - Path=/api/register/**

          - id: reviewservice
            uri: http://localhost:8082/
            predicates:
              - Path=/api/review/**

          - id: userservice
            uri: http://localhost:8083/
            predicates:
              - Path=/api/user/**